/*  your css code here. If applicable */
header{
	background-color:#011e29;
	color:white;
	font-size:30px;
	text-align:center;
}
main{
	display:flex;
	//flex-flow:column wrap;
	flex-decoration:none;
	padding:20px;
}
img{
	height:100px;
}
.latest-news-section{
	background-color:white;
		padding:20px;
	width:100px;
}
.pictorial-news-section{
	background-color:white;
	padding:20px;
	width:200px;
	text-align:center;
	border-radius:20px;
	
}